body {
  background: rgba(121, 144, 194, 0.4);
  text-align: center;
  background-size: cover;
  color: white;
  font-family: Trebuchet MS, sans-serif;
}

h1 {
  background: rgba(121, 144, 194, 0.7);
  margin: auto;
  font-size: 75px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  outline-style: dotted;
}

.container {
  border-radius: 50%;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
 /* position: relative;*/
  transform-origin: bottom left;
}
.color {
  /*position: absolute;*/
  display: block;
  width: 50%;
  height: 50%;
  border-radius: 300px 0 0 0;
  box-sizing: border-box;
  text-align: center;
  border: 6px solid white;
}

#blue {
  background-color: rgba(82, 130, 233, 0.8);
  transform: rotate(90deg);
  float:right;
}

#green {
  background-color: rgba(31, 183, 99, 0.8);
  transform: rotate(360deg);
  float:right;
}

#yellow {
  background-color: rgba(229, 227, 106, 0.8);
  transform: rotate(270deg);
  float:left;
}

#red {
  background-color: rgba(226, 89, 96, 0.8);
  transform: rotate(180deg);
  float:left;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.button {
  margin-top: 20px;
  font-size: 40px;
  font-family: Trebuchet MS, sans-serif;
  background: rgba(156, 180, 180, 0.2);
  border-radius: 40%;
  color: white;
  text-transform: uppercase;
  padding: 10px;
}

button:hover {
  cursor:pointer;
}

#blue.highlight {
  background-color: rgba(82, 130, 233, 0.1);
}

#red.highlight {
  background-color: rgba(226, 89, 96, 0.1);
}

#yellow.highlight {
  background-color: rgba(229, 227, 106, 0.1);
}

#green.highlight {
  background-color: rgba(31, 183, 99, 0.1);
}

#blue:hover {
  cursor:pointer;
  background-color: rgba(82, 130, 233, 0.6);
}

#green:hover {
  cursor:pointer;
  background-color: rgba(31, 183, 99, 0.6);
}

#yellow:hover {
  cursor:pointer;
  background-color: rgba(229, 227, 106, 0.6);
}

#red:hover {
  cursor:pointer;
  background-color: rgba(226, 89, 96, 0.6);
}

li {
  display: inline;
}

.score {
  font-size: 13px;
}

/*Reference List:
For Colors: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool
For How to Position divs within the circle: https://stackoverflow.com/questions/14184494/segments-in-a-circle-using-css3,
https://davidwalsh.name/css-circles, https://stackoverflow.com/questions/1098219/how-to-make-child-divs-always-fit-inside-parent-div
Fonts: https://www.w3.org/Style/Examples/007/fonts.en.html*/
